.cartas-header {
    text-align: center;
    background-color: #ff0000;
    padding: 20px;
    color: white;
}

.cartas-header h1 {
    margin: 0;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cartas-header h3 {
    color: #f9f9f9;
    font-weight: normal;
    margin-top: 10px;
}

.cartas-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.cartas-main div {
    background-color: white;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.cartas-main img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.cartas-main h2 {
    color: #333;
}

.cartas-main p {
    color: #666;
}